
#bod{
  width: fit-content;
  margin: 0;
}
#navi {
position: sticky;
top: -1px;
}

#nav{
  width: 4.5%;
  height: 100%;
  position: fixed;
}
/***********************************************************************/
#imp{
  width: 100%;
}

#haut1{
background: url("../image/AMENAGEMENT-OPEN-SPACE-01.jpeg");
background-repeat: no-repeat;
text-align: center;
font-family: Exo-Regular;
animation: fadein 2s;
-webkit-animation: fadein 2s;
height: 100%;
width: 100%;
}

#headr_title{
    
    font-size: 50px;
    animation: apparationContenu 0.5s linear;
    display: flex;
    flex-direction: column;
    flex: 1;
}
#info1{
    font-size: 30px;
    animation: apparationContenu 0.5s linear;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
#container{
right: 0;
font-family: Lato;
color:rgb(212, 248, 233);
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  section:nth-child(1){
    color:  #010201;
    ;
    }

section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  section .text-container{
     display: flex;
  }
  section .text-container .text-box{
    margin: 20px;
    padding: 20px;
    background:#2fd4ae;
    
  }
  .gros{
    width: 50%;
    height: 50%;
    align-items: center;
  }
 
  
  .inner-content{
    width:1375px;
    margin-right: 0;
    float: right;
  }
  
  section .text-container .text-box h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  @media (max-width: 900px){
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .text-container{
      flex-direction: column;
    }
  }
#footer{
  bottom:0;/* on le colle en bas */
  display: flex;
  flex-direction:column ;
  margin-top: 100px;
  border-top: solid 2px #2fd4ae;
  background: #f3f3f3;
  padding-top: 20px;
  font-weight: normal;

}
.textef1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #afafaf;
  font-weight: normal;
  font-size: 12px;
}

#textes11{
  margin-top: 9em;


} 
  
.textes1{
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #afafaf;

}

#txt{
  margin-top: 200px;
}
h1{
  font-size: 12px;
}
.list1 img{
  width: 30px;
  height: 30px;}