*

{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}body{
    background :linear-gradient(45deg, #80ff72,#7ee8fa);
}

#div1{
    padding: 40px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 7px;
    margin-top: 100px;
    width: 500px;
    background-color: RGBa(240,240,240,0.20);
    backdrop-filter: blur(16px);
}


h1{
    position: absolute;
    float: left;
    transform: rotate(270deg);
    margin-top: 50px;
    margin-left: 100px;
}
section{
    display: flex;
    justify-content: center;

}
nav{
    margin-top: 0%;
    border: solid 1px black;
    display: flex;
    width: 500px; 
    height: 25px;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
    justify-content: center;

}

nav ul li{
    margin-left: 7px;
    margin-top: -6px;
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{

    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(0, 255, 42);
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
#der{
margin-left: 350px;
}
.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
#div2{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}
#input{
    padding: 7px;
}
#msg{
    padding: 7px;
}
#addImg{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: left;
}
#addImg img{
    display: block;
}
#image1{
    color: black;
    display: block;
    font-size: 10px;
    margin-top: 4px;
}
#deroulant{
    padding: 7px;
}
.btn2{
    width: 25%;
    border: 0px;
    background-color: #80ff72;
    cursor: pointer;
}