body
{
	background: linear-gradient(45deg, #80ff72, #7ee8fa);
	
}
figure
{
	text-align: center;
}

figure + p
{
	text-align: center;
}


h4
{
	text-decoration: underline;
	font-size: 1.2em;
	text-align: center;

}

h5
{

	font-size: 1em;
	text-shadow: 1px;
	margin: 2px;
            
}

#perso
{
	box-shadow: 2px 3px 4px;
	margin: 4px;
	padding: 10px;
	border: 1px solid white;
	width: 400px;
	height:300 ;
	background-color: azure;
}

#autres
{
	box-shadow: 2px 3px 4px;
	margin: 4px;
	padding: 10px;
	border: 1px solid white;
	width: 400px;
	height:300 ;
	background-color: azure;
}

#conteneur
{
	display: flex;
	justify-content: space-between;
	opacity: 3;
	height: 560px;


}

.type
{
	background-color: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 50%;

    backdrop-filter: blur(12px);
    border: 0;

    font-size: 16px;
    padding: 7px;
    margin: 7px;

    font-family: Exo-ExtraLight;
    text-align: center;
}

#back
{
	text-align: right;
}

#head
{
	display: flex;
	justify-content: space-between;
	opacity: 3;
	height: 200px;
}