
body
{
    /*background-image: url("blurry-gradient-haikei.svg");
    background-repeat: no-repeat;
    background-size: 100%;*/
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
}


#header
{
    top: 0;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background: #83947e;
}

#logo
{
    display: flex;
}

#navigateur
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav ul 
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li 
{
    list-style-type: none;
    overflow: -moz-scrollbars-horizontal;
}

.style
{
    padding: 5px ;
}


.navi
{
    color: white;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}

#recherche
{
    justify-content: left;

}

a:hover
{
    color: #0f231a;
}



h2
{
    text-decoration: underline;
    font-size: 15px;
}


#recherche
{
    size: 70%;
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

#hrech
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.btn2
{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 40%;
    backdrop-filter: blur(12px);
    border: 0;
    font-size: 12px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse ;
}

#recherchebtn
{
    cursor: pointer;
}



#input
{
    margin-top: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 130%;
    background-color: transparent;
}

#div9
{    
    gap: 10px 0px;
    display: flex;
    flex-direction: column;
}

#mb
{
    font-size: 20;
}

#titre
{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: green;
}


#text
{
    margin-top: 5px;
}


#page
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    
    
}

.user1
{
    box-shadow: 1px 2px 2px 1px black;
    border: 0.5px black solid;
    border-radius: 7px;
    width:50% ;
    height:200px ;
}

.user2
{
    box-shadow: 1px 2px 2px 1px black;
    border: 0.5px black solid;
    border-radius: 7px;
    width:50% ;
    height:200px ;
}

.user3
{
    box-shadow: 1px 2px 2px 1px black;
    border: 1px black solid;
    border-radius: 7px;
    width:50% ;
    height:200px ;
}


.image-ronde
{
    width : 55px; height : 55px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
    margin-left: 6px;
    margin-top: 7px;
}

.desc
{  
    margin-left: 80px;
    margin-top: -65px;
}

.fct
{
    margin-left: 450px;
    margin-top: 60px;
}