*

{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
body{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;


}
#header{
    top: 0;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background: #83947e;

}

#logo{
    display: flex;

}
#navigateur{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}

header nav ul li {
    list-style-type: none;
    overflow: -moz-scrollbars-horizontal;

}

.style{
    padding: 5px ;

}


.navi{
    color: white;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;


}
#recherche{
    justify-content: left;

}

a:hover{
    color: #0f231a;

}

.connexion {
    background-color: rgb(15, 35, 26);
    border-radius: 7px;
    box-shadow: 0 8px 6px 2px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 95px;
    height: 45px;

    border: 0;
    font-size: 17px;
    color: rgb(194, 206, 202);

}
#page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 25px;
}
#popo{
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    margin-left: 25%;
}
#rep{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: flex-end;
    flex: 1;
}
.div{
    padding: 20px;
    width: 70%;
    padding-top: 15PX;
    border: solid 1px black;
    background-color: white;

    top: 0px;
    font-size: 12px;
    backdrop-filter: blur(16px);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 7px;
    background :url("VAGUE.PNG");
    background-repeat: no-repeat;
    background-size: 102%;
    display: flex;
    
}
#reponse
{
    width: 63%;
    margin-left: 7%;
    margin-top: -15PX;
}
.image-ronde{
    width : 50px; height : 50px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
  }
#p1{
    margin-left: 5px;
    font-size: 10px;
}

h2{
    text-decoration: underline;
    font-size: 15px;
}
#text{
    margin-top: 5px;
    padding-left: 10PX;

}
#div3{

    display: flex;
    flex-direction: column;
    margin-top: -8px;
    border-right: solid grey 2px;
    padding-right: 10PX;

}
#div4{
    margin-left: 3px;
    width: 100%;
}
.btn2{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 70%;
    backdrop-filter: blur(12px);
    border: 0;
    font-size: 17px;
    padding: 5px;
}
#retour{
transform: rotate(180deg);
margin-left: 27%;
margin-top: -15px;
}
#head2{
    background-color: #83947e;
}

