RewriteEngine On
RewriteBase /isep-web/

RewriteRule ^profil/([0-9A-F]+)$ index.php?token_user=$1


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php [QSA,L]



RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule (.+) static/$1 [L]