html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#window{
    display: flex;
    flex-direction: row;

    height: 100%;
}

#window nav{
    flex: 1;
    background-color: #2fd4ae;
}

#window main{
    flex: 20;
}

/***********************************************************************/

#nav_ctn{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_link{
    padding-bottom: 40px;
}

.nav_link img{
    width: 30px;
    height: 30px;


}

/*===================================================*/

main{
    background-color: #f6ffff;
    display: flex;
    flex-direction: column;
}

#header{
    padding: 10px;
    padding-right: 50px;
    height: 120px;

    display: flex;
    justify-content: space-between;
    
}

#header_title{
    font-family: Exo-Regular;
}

#header_profil{
    display: flex;
    align-items: center;

    font-size: large;
    font-family: Exo-Regular;
}

#header_profil img{
    width: 70px;
    height: 70px;

    border: 3px solid #2fd4ae;
    border-radius: 50%;
    margin: 20px;
}

/**************************************/
#content{
    animation: apparationContenu 0.5s linear;
    display: flex;
    flex-direction: column;
    flex: 1;
}

@keyframes apparationContenu{
    0%{
        opacity: 0;
        transform: translate(0%, -20%);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0%);

    }
}

#content_header{
    display: flex;
    align-items: baseline;
}

#title_content{
    font-family: Exo-Regular;
    color: #2fd4ae;
    padding-left: 40px;
    margin-bottom: 40px;
    margin-top: 0px;

}

#configure_link{
    font-family: Lato;
    background-color: #2fd4ae;
    color: #f6ffff;
    border-radius: 5px;

    font-size: larger;
    text-decoration: none;

    padding: 10px;
    margin-bottom: 40px;
    margin-top: 0px;
}

#salle_ctn{
    flex: 1;
    display: flex;
    justify-content: right;
}

.salle_link{
    margin: 10px;
    background-color: white;
    font-family: Lato;
    font-size: 23px;
    border-radius: 9px;
    color: #222;
    text-decoration: none;
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 0 0 15px 1px #3332;
}

#salle_link_selected{
    background-color: #2fd4ae;
    box-shadow: 0 0 15px 1px #2fd4ae66;
    color: white;
}

/*-----*/

#valeur_inst{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.zone_dash{
    border-radius: 5px;

    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098);
    background-color: white;

    padding: 15px;
    width: 200px;

    opacity: 0.9;
}

.zone_dash h1{
    font-family: Exo-Regular;
    margin: 5px;
    font-size: 30px;

}

.zone_dash p{
    font-family: Lato;
    text-align: right;
    text-decoration: underline;
    margin: 0px;
    font-size: 20px;
}



/*----------------------------*/
#graph_screen{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

#graph_interface{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098);
    padding: 20px;

    background-color: white;
    border-radius: 7px;

}

#graph_interface h2{
    font-family: Exo-Regular;
    margin: 5px;
    font-size: 30px;
}

.btn_grandeur{
    border-radius: 5px;
    border: #2fd4ae 1px solid;

    box-shadow: 0 0 15px 1px #2fd4ad22;
    background-color: white;

    padding: 15px;
    width: 200px;

    font-family: Lato;
    margin: 5px;
    font-size: 20px;

    opacity: 0.9;  

    cursor: pointer;
}

#selected_grandeur{
    background-color: #2fd4ae;
    color: white;
    opacity: 1;
}

.btn_grandeur:hover, #selected_grandeur:hover{
    opacity: 0.4;
}

#graph_interface hr{
    width: 300px;
    opacity: 0.3;
}

#graph{
    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098);
    border-radius: 7px;
    background-color: white;
    padding: 10px;
}

/*=======*/

#deco_pop_down{
    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    border-radius: 7px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;

    animation: deco_pop_down_anime 0.4s ease-in;
    z-index: 999;

    display: none;
    margin-top: 15px;

}


@keyframes deco_pop_down_anime {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#deco_pop_down hr{
    width: 80%;
}

#deco_pop_down a{
    font-family: Lato;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0;
}

#deco_pop_down a:hover{
    background-color: #2fd4ae;
    color: white;
    border-radius: 8px;
    
}

#nom_prenom:hover{
    cursor: pointer;
    
}