html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

}

#window{
    display: flex;
    flex-direction: row;

    height: 100%;
}

#window nav{
    flex: 1;
    background-color: #2fd4ae;
}

#window main{
    flex: 20;
}

/***********************************************************************/

#nav_ctn{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_link{
    padding-bottom: 40px;
}

.nav_link img{
    width: 30px;
    height: 30px;


}

/*===================================================*/

main{
    background-color: #f6ffff;
    display: flex;
    flex-direction: column;
}

#header{
    padding: 10px;
    padding-right: 50px;
    height: 120px;

    display: flex;
    justify-content: space-between;
    
}

#header_title{
    font-family: Exo-Regular;
}

#header_profil{
    display: flex;
    align-items: center;

    font-size: large;
    font-family: Exo-Regular;
}

#header_profil img{
    width: 70px;
    height: 70px;

    border: 3px solid #2fd4ae;
    border-radius: 50%;
    margin: 20px;
}

/**************************************/
#content{
    animation: apparationContenu 0.5s linear;
    display: flex;
    flex-direction: column;
    flex: 1;

}

@keyframes apparationContenu{
    0%{
        opacity: 0;
        transform: translate(0%, 20%);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0%);

    }
}

#content_header{
    display: flex;
    align-items: baseline;
}

#title_content{
    font-family: Exo-Regular;
    color: #2fd4ae;
    padding-left: 40px;
    margin-bottom: 40px;
    margin-top: 0px;

}

#configure_link{
    font-family: Lato;
    background-color: #2fd4ae;
    color: #f6ffff;
    border-radius: 5px;

    font-size: larger;
    text-decoration: none;

    padding: 10px;
    margin-bottom: 40px;
    margin-top: 0px;
}

/*-----*/
#config_db, #config_lumi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#config_lumi{
    margin-top: 80px;

}
#config_db h1, #config_lumi h1{
    font-family: Exo-Regular;
    color: #2fd4ae;
    padding-left: 40px;
    margin-bottom: 40px;
    margin-top: 8px;   
}

#config_db>div{
    display: flex;
    width: 80%;
    justify-content: space-around;

    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    border-radius: 7px;
    background-color: white;
}

.db_btn{
    font-family: Lato;
    font-size: 30px;

    padding: 15px;
    margin: 10px;
    border-radius: 7px;
}

.db_btn:hover{
    background-color: #e6e6e6;
    color: #222;
    cursor: pointer;
}
#selected_db_btn{
    background-color: #2fd4ae;
    color: white;
}

#bar_lumi{
    display: flex;
    width: 80%;
    height: 20px;
    justify-content: center;

    align-items: center;


    /*-webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    border-radius: 7px;
    background-color: white;*/
    
}

#bar_lumi>div{
    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098);    
    background-color: white;

    width: 80px;
    height: 40px;
    margin: 20px;

    border-radius: 10px;
}

#bar_lumi>span{
    font-size: 80px;
    margin: 20px;
    color: #2fd4ae;

}

#bar_lumi>.colored{
    background-color: #2fd4ae;
    -webkit-box-shadow: 5px 5px 36px 9px #2fd4ad54; 
    box-shadow: 5px 5px 36px 9px #2fd4ae54;  
    
    cursor: pointer;
}
/*=======*/

#deco_pop_down{
    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    border-radius: 7px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;

    animation: deco_pop_down_anime 0.4s ease-in;
    z-index: 999;

    display: none;
    margin-top: 15px;

}


@keyframes deco_pop_down_anime {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#deco_pop_down hr{
    width: 80%;
}

#deco_pop_down a{
    font-family: Lato;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0;
}

#deco_pop_down a:hover{
    background-color: #2fd4ae;
    color: white;
    border-radius: 8px;
    
}

#nom_prenom:hover{
    cursor: pointer;
    
}