html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#window{
    display: flex;
    flex-direction: row;

    height: 100%;
}

#window nav{
    flex: 1;
    background-color: #2fd4ae;
}

#window main{
    flex: 20;
}

/***********************************************************************/

#nav_ctn{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_link{
    padding-bottom: 40px;
}

.nav_link img{
    width: 30px;
    height: 30px;


}

/*===================================================*/

main{
    background-color: #f6ffff;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header{
    padding: 10px;
    padding-right: 50px;
    height: 120px;

    display: flex;
    justify-content: space-between;
    
}

#header_title{
    font-family: Exo-Regular;
}

#header_profil{
    display: flex;
    align-items: center;

    font-size: large;
    font-family: Exo-Regular;
}

#header_profil img{
    width: 70px;
    height: 70px;

    border: 3px solid #2fd4ae;
    border-radius: 50%;
    margin: 20px;
}

/**************************************/
#content{
    animation: apparationContenu 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

}

@keyframes apparationContenu{
    0%{
        opacity: 0;
        transform: translate(20%, 0%);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0%);

    }
}

#content_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 70%;

}

#title_content{
    font-family: Exo-Regular;
    color: #2fd4ae;
    padding-left: 40px;
    margin-bottom: 40px;
    margin-top: 0px;

}

#configure_link{
    font-family: Lato;
    background-color: #2fd4ae;
    color: #f6ffff;
    border-radius: 5px;

    font-size: larger;
    text-decoration: none;

    padding: 10px;
    margin-bottom: 40px;
    margin-top: 0px;
}

/*-----*/


#forum_screen{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#recherche{
    display: flex;
    width: 80%;
}

#recherche #recherche_input{
    border: none;
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    flex: 10;

    font-size: 20px;
    padding: 10px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#recherche #recherche_btn{
    border: none;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    flex: 1; 

    font-size: 15px;
    font-family: Lato;
    text-align: center;
    padding: 5px;

    background-color: #2fd4ae;
    color: white;
}

/*****/

.post{
    display: flex;
    background-color: white;
    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    padding: 15px;
    margin: 5px;
    
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;

    min-height: 174px;
}

.post hr{
    width: 1px;
    margin: 15px;
    border: #2fd4ae 1px solid;
    background-color: #2fd4ae;
}

#img_ctn_post{
    width: 120px;
    height: 100px;
    padding: 20px; 
}

#img_ctn_post img{
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

#main_ctn_post{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 5px;

    flex: 1;
}

#main_ctn_post h1 {
    background-color: #2fd4ae;
    color: white;
    border-radius: 8px;
    font-family: Exo-Regular;
    padding: 5px;
    margin: 2px;

}
#main_ctn_post p{
    font-family: Lato;
    padding: 10px; 
    margin: 4px;
    font-size: 14px;  
}

.footer_post{
    display: flex;
    justify-content: right;
}

.delete_post{
    background-color: #d02b51;
    color: white;
    border-radius: 5px;
    font-family: Exo-Regular;

    font-size: 20px;
    padding: 7px;
    font-weight: bold;
    margin: 5px;

    cursor: pointer;
}

.respond_post{
    background-color: #2fd4ae;
    color: white;
    border-radius: 5px;
    font-family: Exo-Regular;

    font-size: 20px;
    padding: 7px;
    font-weight: bold;
    margin: 5px;

    cursor: pointer;

    display: flex;
    align-items: center;
}

.respond_post img{
    width: 30px;
    height: 30px;
}


#faq{
    text-align: center;
    position: sticky;
    bottom: 15px;
    left: 15px;

    padding: 20px;
    font-family: Lato;
    color: #353535;

    width: 300px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    border-radius: 7px;

    animation: deco_pop_down_anime 1s ease-in;

}

#faq a{
    background-color: #2fd4ae;
    padding: 5px;
    border-radius: 7px;

    color: white;
    text-decoration: none;

}

/*=======*/

#deco_pop_down{
    -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
    box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
    border-radius: 7px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;

    animation: deco_pop_down_anime 0.4s ease-in;
    z-index: 999;

    display: none;
    margin-top: 15px;

}


@keyframes deco_pop_down_anime {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#deco_pop_down hr{
    width: 80%;
}

#deco_pop_down a{
    font-family: Lato;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0;
}

#deco_pop_down a:hover{
    background-color: #2fd4ae;
    color: white;
    border-radius: 8px;
    
}

#nom_prenom:hover{
    cursor: pointer;
    
}