
    <div id="chat_all">
        <div id="chat_conteneur">
            <div id="header_conteneur">
                <img src="./static/image/X.png" alt="go back" width="19px" height="19px" id="quit_chat">
            </div>
            <div id="message_conteneur">

                <div id='no_convs'>
                    <img src='./static/image/admin.png' width='30%'/>
                    <div> Ceci est le début de votre conversation.<br/> 
                        Ecrivez un message pour ouvrir une conversation avec un administrateur ! </div>  
                </div>
            </div>

            <div id="input_conteneur">

                <input type="text" placeholder="Entrez votre message" id="input_chat">

                <div id="send_button">
                    <img src="./static/image/send.png" alt="send" width="24px" height="24px">
                </div>
            </div>
            
            <input type="hidden" value="<?php echo $_SESSION['profil_pic']; ?>" id="user_pic_src">
            <script src="./static/script/chat_user.js"></script>

        </div>

        <div id="btn_pop_up">
            <img src="./static/image/admin.png" width="48px" height="48px"/>
        </div>
    </div>


    <style>
        #no_convs{
            margin: auto;
            opacity: 0.8;
            font-family: Exo-Regular;
            padding: 30px;
            text-align: center;
            font-size: 15px;
        }

        #chat_all{
            position: absolute;
            bottom: 10px;
            right: 10px;
            flex: 1;   
            z-index: 990;

        }

        #btn_pop_up{
            z-index: 999;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        #btn_pop_up img{
            width: 50px;
            height: 50px;

            background-color: white;
            border-radius: 50%;
            padding: 7px;
            cursor: pointer;

            -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
            box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
        }

        #btn_pop_up img:hover{
            -webkit-box-shadow: 5px 5px 36px 9px #2fd4ad1f; 
            box-shadow: 5px 5px 36px 9px #2fd4ae1f; 
            background-color: #2fd4ad09;
        }

        #chat_conteneur{
            background: #FEFEFE;
            box-shadow: 0 0px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
            border-radius: 7px;

            width: 400px;
            height: 500px;

            position: absolute;

            bottom: 80px;
            right: 0px;

            font-size: 30px;

            display: flex;
            flex-direction: column;

            display: none;

            animation: entring ease-in 0.4s;
            
        }

        @keyframes entring{
            0%{
                opacity: 0;
            }

            100%{
                opacity: 1;
            }
        }

        #header_conteneur{
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 25px;
            height: 19px;
            display: flex;
            justify-content: right;

            border-bottom: 1px solid #4448;
        }

        #quit_chat{
            cursor: pointer;
            border-radius: 50%;

            padding: 5px;

        }
        #quit_chat:hover{
            border-radius: 50%;
            background-color: #f0f0f0;
        }

        #message_conteneur{
            flex: 6;

            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-color: rebeccapurple green;
            scrollbar-width: thin;
        }


        #input_conteneur{
            flex: 0.5;
            display: flex;
            padding: 10px;
        }

        #input_chat{
            resize: none;
            flex: 5;
            
            padding: 10px;
            padding-left: 15px;
            border: 0;
            font-size: 15px;
        }

        #send_button{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*--------------------------------------------------------*/
        .admin_message_conteneur, .user_message_conteneur{
            width: 100%;
            display: flex;
            margin: 5px;
        }

        .user_message_conteneur{
            margin-left: 0;
            padding-right: 50px;
            justify-content: right;

        }

        .user_pic{
            border-radius: 24px;
            /*box-shadow: 0 0 4px 2px #4448;*/
            margin-right: 10px;
        }

        .user_message{
            margin-right: 10px;
            background-color: #08e494;
            color: #FEFEFE;

            font-family: Arial, Exo-Regular;
            font-size: 16px;
            padding: 15px;
            border-radius: 20px;

            max-width: 60%;
        }

        .admin_pic{
            border-radius: 24px;
            /*box-shadow: 0 0 4px 2px #4448;*/
        }

        .admin_message{
            margin-left: 10px;
            background-color: #DEDEDE;
            color: #444;

            font-family: Arial, Exo-Regular;
            font-size: 16px;
            padding: 15px;
            border-radius: 20px;

            max-width: 60%;
        }

    </style>


    <script>
        var objDiv = document.getElementById("message_conteneur");
        objDiv.scrollTop = objDiv.scrollHeight; 
    </script>

    <script>

        var messages_conteneur = document.getElementById('message_conteneur');

        var quit_btn = document.getElementById('quit_chat'),
            launch_btn = document.getElementById('btn_pop_up'),
            chat_conteneur = document.getElementById('chat_conteneur');

        var displayed = false;

        launch_btn.onclick = ()=>{
            if (displayed) {
                chat_conteneur.style.display = 'flex';
                messages_conteneur.scrollTop = messages_conteneur.scrollHeight;

                
            } 
            else{
                chat_conteneur.style.display = 'none';

            }
            displayed = !displayed;

        }

        quit_btn.onclick = ()=>{
            if (!displayed) {
                chat_conteneur.style.display = 'none';
                messages_conteneur.scrollTop = messages_conteneur.scrollHeight;

                
            } 
            displayed = false;
        }
    </script>
