
    <div id="chat_all">
        <div id="chat_conteneur">
            <div id="header_conteneur">
                <img src="./static/image/retour.jfif" alt="step back" width="19px" height="19px" id="list_chat" style="transform: rotate(180deg);"/>
                <img src="./static/image/X.png" alt="go back" width="19px" height="19px" id="quit_chat">
            </div>
            <div id="message_conteneur">

                <div class="discussion">
                    <div>
                        <img src="<?php echo $_SESSION['profil_pic']; ?>" width="64px" height="64px" class="conversation_element_pic"/>
                    </div>

                    <div class="conversation_resume">
                         <h2>Idris TATACHAK</h2>
                         <p>Ceci est un contenue</p>
                         <div>10-02-2022 à 10h20</div>
                    </div>
                </div>

                <hr>

                <div class="discussion">
                    <div>
                        <img src="<?php echo $_SESSION['profil_pic']; ?>" width="64px" height="64px" class="conversation_element_pic"/>
                    </div>

                    <div class="conversation_resume">
                         <h2>Idris TATACHAK</h2>
                         <p>Ceci est un contenue</p>
                         <div>10-02-2022 à 10h20</div>
                    </div>
                </div>


            </div>


            
            <input type="hidden" value="<?php echo $_SESSION['profil_pic']; ?>" id="user_pic_src">
            <script src="./static/script/chat.js"></script>

        </div>

        <div id="btn_pop_up">
            <img src="./static/image/admin.png" width="48px" height="48px"/>
        </div>
    </div>


    <style>

        #no_convs{
            margin: auto;
            opacity: 0.8;
            font-family: Exo-Regular;
            padding: 30px;
            text-align: center;
        }
        #chat_all{
            position: absolute;
            bottom: 10px;
            right: 10px;
            flex: 1;   
            z-index: 990;

        }

        #btn_pop_up{
            z-index: 999;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        #btn_pop_up img{
            width: 50px;
            height: 50px;

            background-color: white;
            border-radius: 50%;
            padding: 7px;
            cursor: pointer;

            -webkit-box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.142); 
            box-shadow: 5px 5px 36px 9px rgba(0, 0, 0, 0.098); 
        }

        #btn_pop_up img:hover{
            -webkit-box-shadow: 5px 5px 36px 9px #2fd4ad1f; 
            box-shadow: 5px 5px 36px 9px #2fd4ae1f; 
            background-color: #2fd4ad09;
        }

        #chat_conteneur{
            background: #FEFEFE;
            box-shadow: 0 0px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
            border-radius: 7px;

            width: 400px;
            height: 500px;

            position: absolute;

            bottom: 80px;
            right: 0px;

            font-size: 30px;

            display: flex;
            flex-direction: column;

            display: none;

            animation: entring ease-in 0.4s;
            
        }

        @keyframes entring{
            0%{
                opacity: 0;
            }

            100%{
                opacity: 1;
            }
        }

        #header_conteneur{
            
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 25px;
            height: 19px;
            display: flex;
            justify-content: space-between;
            text-align: right;

            border-bottom: 1px solid #4448;
        }

        #quit_chat, #list_chat{
            cursor: pointer;
            border-radius: 50%;

            padding: 5px;

        }
        #quit_chat:hover, #list_chat:hover{
            border-radius: 50%;
            background-color: #f0f0f0;
        }


        #message_conteneur{
            flex: 6;

            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-color: rebeccapurple green;
            scrollbar-width: thin;
        }


        #input_conteneur{
            flex: 0.5;
            display: flex;
            padding: 10px;
        }

        #input_chat{
            resize: none;
            flex: 5;
            
            padding: 10px;
            padding-left: 15px;
            border: 0;
            font-size: 15px;
        }

        #send_button{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*--------------------------------------------------------*/
        .admin_message_conteneur, .user_message_conteneur{
            width: 100%;
            display: flex;
            margin: 5px;
        }

        .user_message_conteneur{
            margin-left: 0;
            padding-right: 50px;
            justify-content: right;

        }

        .user_pic{
            border-radius: 24px;
            /*box-shadow: 0 0 4px 2px #4448;*/
            margin-right: 10px;
        }

        .user_message{
            margin-right: 10px;
            background-color: #08e494;
            color: #FEFEFE;

            font-family: Arial, Exo-Regular;
            font-size: 16px;
            padding: 15px;
            border-radius: 20px;

            max-width: 60%;
        }

        .admin_pic{
            border-radius: 24px;
            /*box-shadow: 0 0 4px 2px #4448;*/
        }

        .admin_message{
            margin-left: 10px;
            background-color: #DEDEDE;
            color: #444;

            font-family: Arial, Exo-Regular;
            font-size: 16px;
            padding: 15px;
            border-radius: 20px;

            max-width: 60%;
        }
        /***********************************/
        .discussion{
            display: flex;
            flex-direction: row;
            padding: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: Lato;
            font-size: 13px;

            align-items: center;
            width: 100%;
        }

        .discussion:hover{
            background-color: rgba(245, 222, 179, 0.078);
            opacity: 0.5;
            cursor: pointer;
        }

        #chat_conteneur hr{
            margin: 3px;
            width: 60%;
            margin: auto;
        }

        .conversation_element_pic{
            border-radius: 24px;
            display: block;
            margin: 10px;
        }

        .conversation_resume{
            flex: 1;
            margin: 9px;
        }
        .conversation_resume h2{
            font-weight: bolder;
            font-size: 25px;
            font-family: Exo-Regular;
            margin: 3px;

            background-color: #08e494;
            padding: 4px;
            padding-left: 8px;
            border-radius: 5px;
            color: white;
        }

        .conversation_resume p{
            margin: 4px;
        }

        .conversation_resume div{
            text-align: right;
        }

    </style>


    <script>
        var objDiv = document.getElementById("message_conteneur");
        objDiv.scrollTop = objDiv.scrollHeight; 
    </script>

    <script>
        var quit_btn = document.getElementById('quit_chat'),
            launch_btn = document.getElementById('btn_pop_up'),
            chat_conteneur = document.getElementById('chat_conteneur');

        var displayed = false;

        launch_btn.onclick = ()=>{
            if (displayed) {
                chat_conteneur.style.display = 'flex';
                
            } 
            else{
                chat_conteneur.style.display = 'none';

            }
            displayed = !displayed;

        }

        quit_btn.onclick = ()=>{
            if (!displayed) {
                chat_conteneur.style.display = 'none';
                
            } 
            displayed = false;
        }
    </script>
