<html>
<head>
	<title></title>
 <meta charset="utf-8">
	<link rel="stylesheet" href="forum.css">
</head>
<body>
<header>
  <h1 class="titre"><a href="accueil-forum.html"><img  id="retour" src="retour.svg" alt="retour" width="35" height="35"></a></h1> 
</header>
<section>
 
</section>
<section id="sect1">

    <div id="div1">


  <nav>
    <ul>
      <li class="deroulant"><a href="#">Choisir catégorie &ensp;
        <der>▼</der>
      </a>
        <ul class="sous">
          <li><a href="#">Catégorie 1</a></li>
          <li><a href="#">Catégorie 2</a></li>
          <li><a href="#">Catégorie 3</a></li>
        </ul>
      </li>


    </ul>
  </nav>
  <br>
    
    <input id="input" type="text" name="sujet" placeholder="Ecrire votre Titre" style="width: 500px; height: 25px">
    <br>
    <br>
    <div4 id ="div4">
      <textarea id="msg" name="message"  placeholder="Ecrire votre message" id="message" style="width: 500px; height: 250px"></textarea>
    </div4>
    <br>
      <div2 id="div2">
        <div3>
          <a href="image" id="addImg">
            <img src="trombonne.svg" alt="image"width="20" height="20">
            <image1 id="image1">Joindre une image</image1>
          </a>
        </div3>
      <input type="submit" name="envoyer" value="Envoyer" class="btn2">
      </div2> 
    </div>

</section>
</body>
</html>



